### local ###

.idea
.bashrc
.deploy/local/.env

.DS_Store
Thumbs.db

### application ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
